[submodule "server"]
	path = server
	url = ../haxe-languageserver
[submodule "vscode-extern"]
	path = vscode-extern
	url = ../vscode-extern
[submodule "syntaxes"]
	path = syntaxes
	url = ../haxe-TmLanguage
